<!-- Page Content -->
<div class="container" *ngIf="list">

  <ul *ngIf="pages" class="nav nav-pills">
    <li *ngFor="let page of pages; let i=index" class="nav-item">
      <a class="nav-link clickable" [ngClass]="i==currentPage?'active':''" (click)="onPage(i)">{{i}}</a>
    </li>
  </ul>

  <div class="row">

<!--    <div class="col-lg-3">

      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>

    </div>-->
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of list._embedded.results">
          <div class="card h-100">
            <a (click)="onView(item)"><img class="card-img-top clickable" src="data:image/jpg;base64,{{item.picture}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a class="btn btn-info clickable" (click)="onView(item)">{{item.id}} - {{item.name}}</a>
              </h4>
              <h5>${{item.priceExVat | number:'0.2'}}</h5>
              <h5>Stock: {{item.stock}}</h5>
            </div>
            <div class="card-footer">
              <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(item, f.value.quantity)">
                <label for="quantity" class="control-label">Quantity:</label>
                <input type="number" [ngModel]="1" min=1 id="quantity" name="quantity" style="width: 40px"/>
                <button>Add Cart</button>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

