<form #f="ngForm" (ngSubmit)="onSearch(f.value)">

  <div class="form-group">
    <label for="keyword">Keyword:</label>
    <input type="text" placeholder="description"
           name="keyword"
           class="form-control"
           id="keyword"
           required>
  </div>

  <button class="btn btn-success" [disabled]="f.invalid">Search</button>
</form>

<table class="table table-hover table-dark" *ngIf="countries">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries._embedded.results">
    <th scope="row">{{country.idCountry}}</th>
    <td>{{country.description}}</td>
  </tr>
  </tbody>
  <ul *ngIf="pages" class="nav nav-pills">
    <li *ngFor="let page of pages; let i=index" class="nav-item">
      <a class="nav-link clickable" [ngClass]="i==currentPage?'active':''" (click)="onPageCounty(i)">{{i}}</a>
    </li>
  </ul>
</table>
