<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="">Alexandro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_0">
          <a class="dropdown-item" routerLink="/products">Products</a>
<!--          <a class="dropdown-item" routerLink="/products/search">Search Products</a>-->
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" *ngIf="authService.isAdmin()"><!--TODO : use AuthGuard-->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Countries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_1">
          <a class="dropdown-item" routerLink="/countries">Countries</a>
          <a class="dropdown-item" routerLink="/countries/search">Search Countries</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" *ngIf="authService.isAdmin()"><!--TODO : use AuthGuard-->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_2">
          <a class="dropdown-item" routerLink="/clients">Clients</a>
<!--          <a class="dropdown-item" routerLink="/clients/search">Search Clients</a>-->
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" *ngIf="authService.isAdmin()"> <!--TODO : use AuthGuard-->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OrderHeaders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_3">
          <a class="dropdown-item" routerLink="/orderHeaders">OrderHeaders</a>
          <!--          <a class="dropdown-item" routerLink="/OrderHeaders/search">Search OrderHeaders</a>-->
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/caddies">Caddies</a>
      </li>

      <li class="nav-item">
        <button id="logout" *ngIf="!authService.isTokenExpired()" (click)="onLogout()">Log Out</button>
        <button id="login" *ngIf="authService.isTokenExpired()" routerLink="/login">Log In</button>
      </li>

      <li class="nav-item">
        <a>{{caddyService.getCurrentCaddyName()}} | size : {{caddyService.getCurrentCaddyNbItems()}}</a>
      </li>

    </ul>

  </div>
</nav>
