<div class="col-md-6" *ngIf="currentItem">
  <h2 class="text-center">Edit item</h2>
  <form #f="ngForm" (ngSubmit)="onUpdate()">

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text"
             [(ngModel)]="currentItem.description"
             placeholder="description"
             name="description"
             id="description"
             class="form-control"
             required>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="f.invalid">Update</button>
  </form>
</div>
