<div class="container">

<a class="btn btn-success" routerLink="/countries/add" role="button">Add item</a>

<table class="table table-hover table-dark" *ngIf="list">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list._embedded.results">
    <th scope="row">{{item.id}}</th>
    <td>{{item.description}}</td>
<!--    <td><a class="btn btn-success" routerLink="view/{{item.id}}">View</a></td>-->
    <td><a class="btn btn-success" (click)="onView(item)">View</a></td>
    <td><a class="btn btn-danger" (click)="onDelete(item)">Delete</a></td>
    <td><a class="btn btn-success" (click)="onEdit(item)">Edit</a></td>
  </tr>
  </tbody>
  <ul *ngIf="pages" class="nav nav-pills">
    <li *ngFor="let page of pages; let i=index" class="nav-item">
      <a class="nav-link clickable" [ngClass]="i==currentPage?'active':''" (click)="onPage(i)">{{i}}</a>
    </li>
  </ul>
</table>

</div>
