<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

</head>

<body>

<!-- Page Content -->
<div class="container" *ngIf="currentItemProduct && currentItemBook && currentItemAuthor">

  <div class="row">

    <div class="col-lg-12">

      <div class="row">

        <div class="col-lg-12 col-md-12 mb-4">
          <div class="card h-100">
            <img class="card-img-top" style="width: 10%; height: 10%; margin-left: 20%" src="data:image/jpg;base64,{{currentItemProduct.picture}}" alt="">
            <div class="card-body">
              <h4 class="card-title">
                {{currentItemProduct.id}} - {{currentItemProduct.name}}
              </h4>
              <h5>${{currentItemProduct.priceExVat}}</h5>
              <h5>Stock: {{currentItemProduct.stock}}</h5>
              <p class="card-text"><strong>Isbn:</strong> {{currentItemBook.isbn}}</p>
              <p class="card-text"><strong>Title:</strong> {{currentItemBook.title}}</p>
              <p class="card-text"><strong>Nb pages:</strong> {{currentItemBook.nbPages}}</p>
              <p class="card-text"><strong>Author:</strong> {{currentItemAuthor.firstName}} {{currentItemAuthor.lastName}}</p>
              <p class="small"><strong>Bio:</strong> {{currentItemAuthor.bio}}</p>

              <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(currentItemProduct, f.value.quantity)">
                <label for="quantity" class="control-label">Quantity:</label>
                <input type="number" [ngModel]="1" min=1 id="quantity" name="quantity" ngModel style="width: 40px"/>
                <button>Add Cart</button>
              </form>

              <a class="btn btn-success" routerLink="/products">Back to products</a>

            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

</body>

</html>

