<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

</head>

<body>

<!-- Page Content -->
<div class="container" *ngIf="currentItemProduct && currentItemBook && currentItemAuthor">

  <div class="row">

    <div class="col-lg-9">

      <div class="row">

        <div class="col-lg-6 col-md-8 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="data:image/jpg;base64,{{currentItemProduct.picture}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{currentItemProduct.id}} - {{currentItemProduct.name}}</a>
              </h4>
              <h5>${{currentItemProduct.priceExVat}}</h5>
              <h5>Stock: {{currentItemProduct.stock}}</h5>
              <p class="card-text"><strong>Isbn:</strong> {{currentItemBook.isbn}}</p>
              <p class="card-text"><strong>Title:</strong> {{currentItemBook.title}}</p>
              <p class="card-text"><strong>Nb pages:</strong> {{currentItemBook.nbPages}}</p>
              <p class="card-text"><strong>Author:</strong> {{currentItemAuthor.firstName}} {{currentItemAuthor.lastName}}</p>
              <p class="small"><strong>Bio:</strong> {{currentItemAuthor.bio}}</p>

              <a class="btn btn-success" routerLink="/products">Back to products</a>

            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

</body>

</html>

