<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="col text-center">
        <div class="breadcrumb">
          <a routerLink="/caddies" class="active">Cart overview</a>
          <a routerLink="/checkout">Delivery & Payment</a>
          <a>Order resume</a>
        </div>
      </div>
    </div>
  </div>

<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Unit Price</th>
    <th scope="col">Line Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <th scope="row">{{item.product.id}}</th>
    <td>{{item.product.name}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.product.priceExVat | number:'0.2'}}</td>
    <td>{{(item.product.priceExVat * item.quantity) | number:'0.2'}}</td>

    <td><a class="btn btn-danger" (click)="onRemoveProductFromCaddy(item)">Delete</a></td>

  </tr>
  <tr>
    <td colspan="4">Total</td>
    <td>{{caddyService.getCurrentCaddyPriceTotal()}}</td>
  </tr>
  </tbody>
</table>

<a class="btn btn-success" (click)="onCheckout()">Checkout</a>

</div>
