<div class="container">

<form #f="ngForm" (ngSubmit)="onSearch(f)" class="col-md-6">
  <div class="form-group">
    <label for="keyword">Keyword:</label>
    <input type="text"
           ngModel
           name="keyword"
           class="form-control"
           id="keyword"
           required>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="f.invalid">Search</button>
</form>

<table class="table table-hover table-dark" *ngIf="list">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list._embedded.results">
    <th scope="row">{{item.id}}</th>
    <td>{{item.description}}</td>
    <td><a class="btn btn-danger" (click)="onDelete(item)">Delete</a></td>
  </tr>
  </tbody>
  <ul *ngIf="pages" class="nav nav-pills">
    <li *ngFor="let page of pages; let i=index" class="nav-item">
      <a class="nav-link clickable" [ngClass]="i==currentPage?'active':''" (click)="onPage(i)">{{i}}</a>
    </li>
  </ul>
</table>

</div>
