<p>list-country works!</p>

<table class="table table-hover table-dark" *ngIf="countries">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries._embedded.results">
    <th scope="row">{{country.idCountry}}</th>
    <td>{{country.description}}</td>
  </tr>
  </tbody>
  <ul *ngIf="pages" class="nav nav-pills">
    <li *ngFor="let page of pages; let i=index" class="nav-item">
      <a class="nav-link">{{i}}</a>
    </li>
  </ul>
</table>
